<li class="list-group-item col-md d-inline-block text-center">
	{{name}}

	<button 
    class="change-devoured btn btn-success btn-md" 
    data-id="{{id}}" 
    data-newdevoured="{{devoured}}">
		{{#if devoured}}Yum!{{else}}Devour!
        {{/if}}
	</button>

	<button class="delete-burger btn btn-danger btn-md" 
    data-id="{{this.id}}">Toss!
    </button>
</li>
