<div class="container">
  <div class="row">
    <div class="col-md-12 text-center" id="top-bar">
    <img src="/assets/imgs/burger-demo.png" alt="burger-img">
    <h1>Eat-Da-Burger!</h1>
  </div>

<!--Ordered Burgers Column-->
<div class="col-md-6 text-left">
<h4 class="text-center">Ordered</h4>
  <ul class="list-group text-center">
   {{#each burger}} 
     <li class="list-group-item col-md d-inline-block text-center" id="burgers-added">
	 
    {{burger_name}}
	{{#unless devoured}}
    {{!-- {{> burger/burger-block devoured=true}}  --}}
    {{/unless}}Devour! <button class="devour-burger btn btn-success btn-md" data-id="{{id}}" data-devoured="{{devoured}}"> {{#if devoured}}Yum!{{else}}Devour It!{{/if}}</button>
    
    </li> 
{{/each}}
</ul>
  
</div>

<!--Devoured Burgers Column-->
<div class="col-md-6 text-right"> 
  <h4 class="text-center">Devoured</h4>
  <ul class="list-group text-center">
     {{#each burger }} 
    <li class="list-group-item col-md d-inline-block text-center" id="burgers-added">
       
        {{burger_name}} 
    {{#if devoured}}
     {{!-- {{> burger/burger-block devoured=false}} --}}
    {{/if}} 
        <button class="devour-burger btn btn-success btn-md" data-id="{{id}}" data-devoured="{{devoured}}"> {{#if devoured}}{{else}}{{/if}}Yum!</button>
    </li>
  
   
    </ul>
        {{/each}}
</div>



<!--Add a Burger Form Submission-->
<div class="container">
  <div="row">
    <div class="col-md-12 text-center center_section">
        
        <form id="create-form" action="/api/burger" method="POST">
    <div class="form-group">
        {{!-- <label for="burg">Burger Name:</label> --}}
        <input type="text" id="burg" name="name"  class="form-control form-control-lg" placeholder="ex. Cheeseburger"/>
        <p id="form-dir">Enter a burger you want to eat then click the "Submit" button.</p>
        <button type="button" class="btn btn-primary btn-lg active">Submit</button>
    </div>
    <div class="form-group">
        {{!-- <label for="devoured" >Devoured?</label> --}}
        <input type="radio" name="devoured" value="1" id="devoured" checked> Devoured<br>
        <input type="radio" name="devoured" value="0" id="notDevoured"> Order
    </div>
    
</form>

    </div>
    </div>
</div>

  </div> <!--row-->

</div>