
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center" id="top-bar">
            <img src="/assets/imgs/burger-demo.png" alt="burger-img">
            <h1>Eat-Da-Burger!</h1>
    </div>

<div class="col-md-6 text-left">

<h4 class="text-center">Ordered</h4>
  <ul class="list-group text-center">
    {{#each burger }} 
    <li class="list-group-item col-md d-inline-block text-center" id="burgers-added">
        {{burger_name}} 
        <button class="devour-burger btn btn-success btn-md" data-id="{{id}}" data-devoured="{{devoured}}"> {{#if devoured}}Yum!{{else}}Devour It!{{/if}}</button>
    </li>
  </ul>
    {{/each}}
</div>


<div class="col-md-6 text-right">
  <h4 class="text-center">Devoured</h4>
  <ul class="list-group text-center">
    {{#each burger }} 
    <li class="list-group-item col-md d-inline-block text-center" id="burgers-added">
        {{burger_name}} 
        <button class="devour-burger btn btn-success btn-md" data-id="{{id}}" data-devoured="{{devoured}}"> {{#if devoured}}Yum!{{else}}Devour It!{{/if}}</button>
    </li>
  </ul>
    {{/each}}
</div>

        {{!-- <div class="col-md-6 text-center">Test</div> --}}
  </div> <!--row-->

</div>

<div class="container">
    <div="row">
        <div class="col-md-12 text-center center_section">
            <form class="create-form" action="/burgers/create" method="POST">
            <input class="form-control form-control-lg" id="burg" type="text" placeholder="ex. Cheeseburger" />
            <p id="form-dir">Enter a burger you want to eat then click the "Submit" button.</p><a class="btn btn-primary btn-lg active">Submit</a>
            </form>
        </div>
    </div>
</div>
             
            
        

         
